
$light-blue-gray: #B2CFEA;
$lightest-blue-gray: lighten($light-blue-gray, 15%);

// Trip icons:
$robins-egg: #2fa0d8;
$purple: #a949d8;

$light-gray: lightgray;
$button-color: #181c72;
$button-border: #c3c3c3;
$button-highlight: #f49542;
