/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .div-card{

    height: 500 px;
    width: 500px;
    float: left;
  }

.div-card-2{
  height: 500 px;
  width: 500 px;
  float: left;

}
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-header-row {
background: #343a40;
  }

  .header{

    color: white;
  }

  mat-row:nth-child(odd){
    background-color:#cbeef3; 
    }