<html>

<barchart></barchart>

<div class="card-block">
<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Bike ID Column -->
      <ng-container matColumnDef="bike_id">
        <mat-header-cell *matHeaderCellDef class= "header"> Bike ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.bike_id}} </mat-cell>
      </ng-container>
  
      <!-- Trip ID Column -->
      <ng-container matColumnDef="trip_id">
        <mat-header-cell *matHeaderCellDef class= "header"> Trip ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trip_id}} </mat-cell>
      </ng-container>
  
      <!-- Start Time Column -->
      <ng-container matColumnDef="start_time">
        <mat-header-cell *matHeaderCellDef class= "header"> Start Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.start_time}} </mat-cell>
      </ng-container>
  
      <!-- End Time Column -->
      <ng-container matColumnDef="end_time">
        <mat-header-cell *matHeaderCellDef class= "header"> End Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.end_time}} </mat-cell>
      </ng-container>

      <!-- Passholder Type Column -->
      <ng-container matColumnDef="passholder_type">
        <mat-header-cell *matHeaderCellDef class= "header" > Passholder Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.passholder_type}} </mat-cell>
      </ng-container>

      <!-- Trip Route Category Column -->
      <ng-container matColumnDef="trip_route_category">
        <mat-header-cell *matHeaderCellDef class= "header"> Trip Route Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trip_route_category}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
  </div>
</div> 
  </html>