* {
  box-sizing: border-box;
}

body, select {
  font-family: 'Roboto', sans-serif;
  color: #575A5E;
}

body {
  background: #f4f4fa;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  color: #ccd4de;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

h3 {
  font-size: 3em;
  text-align: center;
  margin: 0;
}

h2, h3, th {
  color: #5470B6;
}

header {
  background: #354052;
  padding: 10px 20px;
}

.bicycle-icon {
  width: 50px;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (min-width: 80em) {
  .container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
  }
}

.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-third,
.flex-two-thirds {
  flex: 1 0 100%;
  position: relative;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .flex-third {
    flex: 0 0 30.66%;
    width: 30.66%;
    max-width: 30.66%;
  }

  .flex-two-thirds {
    flex: 0 0 65.33%;
    width: 65.33%;
    max-width: 65.33%;
  }
}

.module {
  background: #fff;
  padding: 20px;
  margin-top: 40px;
  border-top: 4px solid #56ADB7;
  box-shadow: 4px 4px 8px 0 rgba(53,64,82,0.05);
}

.module-last {
  margin-bottom: 40px;
}

.time-icon {
  display: block;
  width: 140px;
  margin: 0 auto;
}

/* Styles for DataTables */

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th {
  border-bottom: 2px solid #5470B6;
}

th {
  padding: 10px 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.sorting {
  background-image: url(../img/sort_both.png);
}

.sorting_asc {
  background-image: url(../img/sort_asc.png);
}

.sorting_desc {
  background-image: url(../img/sort_desc.png);
}

tr.odd {
  background: #f4f4fa;
}

tr.odd:hover,
tr.even:hover {
  background: #ccd4de;
}

td {
  padding: 8px 10px;
}

.dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}

.dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

.paginate_button {
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.2s ease-in;
}

.paginate_button:hover {
  color: #56ADB7;
  border: 1px solid #56ADB7;
  background: #fff;
}

.paginate_button:focus {
  color: #5470B6;
  border: 1px solid #5470B6;
}

.paginate_button.current,
.paginate_button.current:hover,
.paginate_button.current:focus {
  color: #fff;
  border: 1px solid #56ADB7;
  background: #56ADB7;
}

.paginate-button.disabled:hover {
  cursor: default;
  border: 1px solid transparent;
  background: transparent;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}