* {
  box-sizing: border-box;
}

body, select {
  font-family: 'Roboto', sans-serif;
  color: #575A5E;
}

body {
  background: #f4f4fa;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  color: #ccd4de;
}

h2 {
  margin-top: 0.5em;
}

h3 {
  font-size: 3em;
  color: #5470B6;
  text-align: center;
}

h2, h3, th {
  color: #5470B6;
}

header {
  background: #354052;
  padding: 10px 20px;
}

.container {
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (min-width: 80em) {
  .container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
  }
}

.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-third,
.flex-two-thirds {
  flex: 1 0 100%;
  position: relative;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .flex-third {
    flex: 0 0 30.66%;
    width: 30.66%;
    max-width: 30.66%;
  }

  .flex-two-thirds {
    flex: 0 0 65.33%;
    width: 65.33%;
    max-width: 65.33%;
  }
}

.module {
  background: #fff;
  padding: 20px;
  margin-top: 40px;
  border-top: 4px solid #56ADB7;
  box-shadow: 4px 4px 8px 0px rgba(53,64,82,0.05);
}

.mod-last {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 10px;
}

/* Styles for DataTables */

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #575A5E!important;
}

table.dataTable thead th,
table.dataTable.no-footer {
  border-bottom: 2px solid #5470B6;
}

table.dataTable tbody tr.odd {
  background: #f4f4fa;
}

table.dataTable tbody tr:hover {
  background: #ccd4de;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #56ADB7!important;
  border: 1px solid #56ADB7!important;
  background: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff!important;
  border: 1px solid #56ADB7!important;
  background: #56ADB7;
}