@font-face {
  font-family: 'spartan_mblight';
  src: url('../../assets/fonts/spartanmb-light-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spartan_mbregular';
  src: url('../../assets/fonts/spartanmb-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spartan_mbthin';
  src: url('../../assets/fonts/spartanmb-thin-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spartan_mbextrabold';
  src: url('../../assets/fonts/spartanmb-extra-bold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-extra-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spartan_mbsemibold';
  src: url('../../assets/fonts/spartanmb-semibold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spartan_mbblack';
  src: url('../../assets/fonts/spartanmb-black-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spartan_mbbold';
  src: url('../../assets/fonts/spartanmb-bold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/spartanmb-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}






@font-face {
  font-family: 'fabiololight';
  src: url('../../assets/fonts/fabiolo-light-webfont.woff2') format('woff2'),
       url('../../assets/fonts/fabiolo-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fabioloregular';
  src: url('../../assets/fonts/fabiolo-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/fabiolo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fabiolosmallcaplight';
  src: url('../../assets/fonts/fabiolosmallcap-light-webfont.woff2') format('woff2'),
       url('../../assets/fonts/fabiolosmallcap-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fabiolosmallcapregular';
  src: url('../../assets/fonts/fabiolosmallcap-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/fabiolosmallcap-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
